<div class="container">
	Thank you for signing in!

	<br><br>
	<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
	<div id= "container" style="height: 500px; min-width: 500px"></div>
</div>