<nav class="navbar navbar-default" role="navigation">
	 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">EZFX</a>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Forex Trader</a></li>
      <li><a href="#">Trade History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Welcome <%= current_user.email %></a></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </div><!-- /.navbar-collapse -->

</nav>

<div class="container">
	<div id= "container" style="height: 500px; min-width: 500px"></div>
</div>
<div class="container">
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		Auto Trade Executed: Buy 500 EURO for 690.10 USD @ <%= Time.now.localtime %>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-lg-6 control-label" for="money">Starting Money</label>
					<div class="col-lg-6">
						<input type="number" class="form-control" id="money" value="50000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 control-label" for="currency">Currency Pair</label>
					<div class="col-lg-6">
						<select class="form-control" id="currency">
							<option value="1" selected>EUR/USD</option>
							<option value="2">USD/JPY</option>
							<option value="3">GBP/USD</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 control-label" for="leverage">Leverage</label>
					<div class="col-lg-6">
						<select class="form-control" id="leverage">
							<option value="1">1:1</option>
							<option value="2">50:1</option>
							<option value="3" selected>100:1</option>
							<option value="4">200:1</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6"></div>
				<div class="col-lg-6">
					<button type="button" class="btn btn-primary" onClick="initSession()">New Session</button>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-lg-3">
						<div class="make-switch switch-large">
							<input type="checkbox" checked>
						</div>
					</div>
					<label class="col-lg-7 control-label" for="bollinger">Bollinger Bands</label>
					<div class="col-lg-2">
						<input type="number" class="form-control" id="bollinger" value="10">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="make-switch switch-large">
							<input type="checkbox" checked>
						</div>
					</div>
					<label class="col-lg-3 control-label" for="macds">MACD</label>
					<div class="col-lg-2">
						<input type="number" class="form-control" id="macds" value="12">
					</div>
					<div class="col-lg-2">
						<input type="number" class="form-control" id="macdl" value="26">
					</div>
					<div class="col-lg-2">
						<input type="number" class="form-control" id="macde" value="9">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="make-switch switch-large">
							<input type="checkbox" checked>
						</div>
					</div>
					<label class="col-lg-7 control-label" for="rsi">Relative Strength Index</label>
					<div class="col-lg-2">
						<input type="number" class="form-control" id="rsi" value="10">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-7 control-label">Risk Tolerance</label>
					<div class="col-lg-5">
						<input type="text" class="slider form-control" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal"/>
					</div>
				</div>
			</form>
		</div>
		<div class ="col-md-2 well">
			<h4>Positions:</h4>
			<p>Cash: $20000</p>
			<p>2000 EUR = $2760.40</p>
			<p>Earnings: $200</p>
		</div>
	</div>
	<br><br>
	<h8>Copyright Ben Pollock 2014</h8>
</div>